<ion-view view-title="{{ title | translate }}" class="appBackground">
    <ion-content>
        <div class="searchBarView card item-input-inset" ng-show="showSearch">
            <label class="searchField item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{ 'list_search' | translate }}" ng-model="searchQuery.value" ng-change="filterItems(searchQuery.value)">
            </label>
            <button class="button button-clear " ng-click="cancelSearch()">
                <i class="icon ion-close-circled searchCancelButton"></i>
            </button>
        </div>

        <div class="item item-body item-icon-left  item-icon-right"> 
            <div class="option-container">
                <img class="qicon" src="http://i325.photobucket.com/albums/k362/gbsojo/Componente-06_zpsdkww5vlf.png">
                <h2 class="option">{{'current_position' | translate}}</div>
                <i class="ion-chevron-right icon chevron"></i>
            </div>
        </div>

        <mz-template ng-repeat="item in filteredItems" bind-to="item" template-type="_screenParams.templateType"
            screen-params="_screenParams"   ng-click="itemClickHandler(item)">
        </mz-template>

        <div class="card" ng-show="!filteredItems.length">
            <div class="item item-text-wrap">
                {{'empty_search' | translate }}
            </div>
        </div>
    </ion-content>
</ion-view>
